.wrapper{
    margin: 70px;
}
.form-section{
    
    border-radius: 10px;
    background-color: rgb(240,240,240);
    box-shadow: rgb(240,240,240);
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
}